html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Raleway';
}

.button {
    position: relative;
    background-color: white;
    border: 1 px;
    border-radius: 8px;
    border-color: #4CAF50;
    font-size: 28px;
    color: black;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
