html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Raleway';
}

.button {
    display: block;
    text-align: center;
    cursor: pointer;
    border: none;
    .buttonSize(40px, 3px, 18px);
    .transition(background-color, 0.2s);
    .buttonColor(@default-background-color, @default-text-color);
  
    &.button-primary {
      .buttonColor(@primary-background-color, @primary-text-color);
    }
    &.button-info {
      .buttonColor(@info-background-color, @info-text-color);
    }
    &.button-success {
      .buttonColor(@success-background-color, @success-text-color);
    }
    &.button-warning {
      .buttonColor(@warning-background-color, @warning-text-color);
    }
    &.button-danger {
      .buttonColor(@danger-background-color, @danger-text-color);
    }
    &.button-inverse {
      .buttonColor(@inverse-background-color, @inverse-text-color);
    }

    .button {
        display: block;
        text-align: center;
        cursor: pointer;
        border: none;
    
    .buttonSize(40px, 3px, 18px);
        .transition(background-color, 0.2s);
        .buttonColor(@default-background-color, @default-text-color);
      
        &.button-primary {
          .buttonColor(@primary-background-color, @primary-text-color);
        }
        &.button-info {
          .buttonColor(@info-background-color, @info-text-color);
        }
        &.button-success {
          .buttonColor(@success-background-color, @success-text-color);
        }
        &.button-warning {
          .buttonColor(@warning-background-color, @warning-text-color);
        }
        &.button-danger {
          .buttonColor(@danger-background-color, @danger-text-color);
        }
        &.button-inverse {
          .buttonColor(@inverse-background-color, @inverse-text-color);
        }
      
        span {
          pointer-events: none;
        }
      
        &:hover {
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
          outline: none;
        }
        &:active {
          .boxShadow(~"none !important");
        }
      }