html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Raleway';
}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 4px;
    padding: 10px 10px;

  }
  
  /*style="font-size:20px; border:3px solid rgb(44, 154, 245); padding:5px 10px; vertical-align:middle"*/

  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
